@import url(common.css);
.main_search{margin: 5rem 0;}
.main_search_wrap{display: flex; justify-content: center;}
.input_group{width: 78rem; height: 7.5rem; display: flex;
    border: 3px solid #0078c0; border-radius: 15px;
}
.btn_group{flex: 2; position: relative;}
.form_input_wrap{flex: 8; position: relative;}

.input_group .btn{border: none; width: 100%;
    position: relative; background-color: transparent; height: 100%;
    font-size: 1.6rem; font-weight: 300;
}
.input_group .btn::after{position: absolute; top: 50%; right: 2.5rem;
    transform: translate(0 , -50%); content: ""; border-top: .3em solid;
    border-right: .3em solid transparent; border-bottom: 0;
    border-left: .3em solid transparent; color: #999;
}
.dropdown_menu{padding: 0.5rem 0; font-size: 1.3rem; z-index: 100;
    width: 14rem; color: #666; background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .15); position: absolute;
    top: 7.3rem; left: 1rem; display: none;
}
.dropdown_item{display: block; width: 100%; padding: 1rem; font-weight: 400;}
.dropdown_item:hover{background-color: #f9f9f9; font-weight: 700;}

.form_input_wrap::before{width: 1px; height: 5rem; background-color: #d1d1d1; display: block;
    content: ""; position: absolute; top: 50%; transform: translateY(-50%); left: -10px;
}
.form_input{height: 7rem; width: 100%; border-radius: 15px; border: none;}

.main_btn{background: url(../images/search_w.svg)no-repeat center;
    background-color: #0078c0; border-radius: 15px; background-size: 40%;
    width: 8.2rem; text-indent: -9999px; margin-left: 2rem;  
    transition: all 0.3s;
}
.main_btn:hover{background-color: #fff; border: 1px solid #d1d1d1;
    background: url(../images/search.svg)no-repeat center;
    background-size: 40%; box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
}
.input_group input::placeholder{font-size: 2rem;}




/* section1영역 */
#section1{position: relative; padding: 0 2rem;}
.sect1_inner{display: flex; gap: 1.5rem; justify-content: center;}
.sect1_box1{width: 69.3rem; height: 40rem;
    position: relative;}
.swiper {
    width: 100%; height: 100%; border-radius: 5rem;
}
.swiper-slide {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 18px;
    background: #f9f9f9;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
/* .swiper-slide a{display: block; height: 100%;} */
.swiper-slide img{
    display: inline-block; width: 100%; object-fit: cover;
}
.swiper_btn_group{position: absolute; left: 0; bottom: -3rem; z-index: 1;
    background-color: #0078c0; border-radius: 25px; width: 20rem; height: 5rem;
    display: flex; justify-content: space-around; align-items: center; padding: 0 2rem;
}
.swiper_prev_next{display: flex; flex: 3;}
.swiper-button-next{width: 2rem; height: 2rem;
    background: url(../images/arrow2_next.png) no-repeat center;
    position: static;
    background-size: cover; margin-top: 0;
}
.swiper-button-prev{width: 2rem; height: 2rem;
    background: url(../images/arrow2_prev.png) no-repeat center;
    background-size: cover; margin-top: 0;
    position: static; margin-right: 0.5rem;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    display: none;
}

.swiper-pagination {
    display: inline-block;
    position: static;
    font-size: 1.8rem;
    left: 0; top: 0;
    /* width: 8rem; */
    color: #999; text-align: left;
    flex: 3;
}
.swiper-pagination span.swiper-pagination-current{color: #fff; font-weight: 400;}
.swiper-pagination span.swiper-pagination-current::before{content: "0";}
.swiper-pagination span.swiper-pagination-total{color: #999; font-weight: 700;}
.swiper-pagination span.swiper-pagination-total::before{content: "0";}
.swiper_pause{/* position: absolute; */ right: 0; top: 0;
    width: 2rem; height: 2rem; background: url(../images/swiper_pause.svg) no-repeat;
    background-size: cover; text-indent: -9999px; 
}
.swiper_pause.on{background: url(../images/swiper_pause_auto.svg)no-repeat; width: 2rem; height: 2rem;}

.sect1_box2{width: 36.3rem; height: 40rem;}
.sect1_box2 .main_banner2{width: 100%; height: 100%;}
.main_banner2 a{display: inline-block; width: 100%; height: 100%; border-radius: 25px; overflow: hidden;}
.main_banner2 a img{display: block; width: 100%; height: 100%; object-fit: cover;}

.sect1_box3{width: 30.8rem; height: 40rem;
    background-color: #f9f9f9; border-radius: 30px;
}
.sect1_box3_wrap{display: flex; flex-wrap: wrap; justify-content: center;
    height: 40rem; align-content: center; text-align:center;
}
.sect1_box3_wrap li{width: 50%;}
.sect1_box3_wrap li a{display: inline-block;}
.sect1_box3_wrap li a .sect1_bx3_icon{display: block; background-color: #fff;
    width: 8.3rem; height: 8.3rem; border-radius: 50%; 
    transition: all 0.5s;
}
.sect1_box3_wrap li a .sect1_bx3_icon:hover{
    background-color: #0078c0;
}
.sect1_box3_wrap li:nth-child(1) .sect1_bx3_icon::before{
    content: "";
    background: url(../images/b_icon1.svg) no-repeat; width: 8.3rem; height: 8.3rem;
    display: inline-block;
}
.sect1_box3_wrap li:nth-child(1) .sect1_bx3_icon:hover::before{
    content: "";
    background: url(../images/b_icon1_w.svg) no-repeat; width: 8.3rem; height: 8.3rem;
    display: inline-block;
}
.sect1_box3_wrap li:nth-child(2) .sect1_bx3_icon::before{
    content: "";
    background: url(../images/b_icon2.svg) no-repeat; width: 8.3rem; height: 8.3rem;
    display: inline-block;
}
.sect1_box3_wrap li:nth-child(2) .sect1_bx3_icon:hover::before{
    content: "";
    background: url(../images/b_icon2_w.svg) no-repeat; width: 8.3rem; height: 8.3rem;
    display: inline-block;
}
.sect1_box3_wrap li:nth-child(3) .sect1_bx3_icon::before{
    content: "";
    background: url(../images/b_icon3.svg) no-repeat; width: 8.3rem; height: 8.3rem;
    display: inline-block;
}
.sect1_box3_wrap li:nth-child(3) .sect1_bx3_icon:hover::before{
    content: "";
    background: url(../images/b_icon3_w.svg) no-repeat; width: 8.3rem; height: 8.3rem;
    display: inline-block;
}
.sect1_box3_wrap li:nth-child(4) .sect1_bx3_icon::before{
    content: "";
    background: url(../images/b_icon4.svg) no-repeat; width: 8.3rem; height: 8.3rem;
    display: inline-block;
}
.sect1_box3_wrap li:nth-child(4) .sect1_bx3_icon:hover::before{
    content: "";
    background: url(../images/b_icon4_w.svg) no-repeat; width: 8.3rem; height: 8.3rem;
    display: inline-block;
}
.sect1_box3_wrap li:nth-child(5) .sect1_bx3_icon::before{
    content: "";
    background: url(../images/b_icon5.svg) no-repeat; width: 8.3rem; height: 8.3rem;
    display: inline-block;
}
.sect1_box3_wrap li:nth-child(5) .sect1_bx3_icon:hover::before{
    content: "";
    background: url(../images/b_icon5_w.svg) no-repeat; width: 8.3rem; height: 8.3rem;
    display: inline-block;
}
.sect1_box3_wrap li:nth-child(6) .sect1_bx3_icon::before{
    content: "";
    background: url(../images/b_icon6.svg) no-repeat; width: 8.3rem; height: 8.3rem;
    display: inline-block;
}
.sect1_box3_wrap li:nth-child(6) .sect1_bx3_icon:hover::before{
    content: "";
    background: url(../images/b_icon6_w.svg) no-repeat; width: 8.3rem; height: 8.3rem;
    display: inline-block;
}
.sect1_bx3_text{margin: 1rem 0;}
.sect1_bx3_text p{
    font-size: 1.4rem; font-weight: 300; text-align: center;
}


/* section2영역 */
#section2{width: 100%; height: 58rem; padding: 2rem; position: relative; margin-top: 4rem;}
.sect2_inner{flex-wrap: wrap;}
.sect2_box1{width: 40%;}
.s2_box1_txt1{padding: 8rem 2rem 0;}
.s2_box1_txt1 p{font-size: 2.1rem;}
.s2_box1_txt1 p::after{
    content: "";
    display: inline-block; width: 8rem; height: 1px;
    background: #333; margin: 8px 0 8px 20px;
}
.s2_box1_txt2{padding: 2rem;}
.s2_box1_txt2 h2{font-size: 4rem; color: #999; 
    font-family: "JalnanGothicTTF", "sans-serif";}
.s2_box1_txt2 h2 span{color: #333;}
.sect2_box2{width: 60%; flex-wrap: wrap;}
.sect2_box2 div:first-child{margin: 3rem 1rem 0 0;}
.sect2_box2 div:nth-child(3){margin: 3rem 1rem 0 0;}
.sect2_box2_group{width: calc(100% / 2 - 1rem); height: 22.5rem; background-color: #f9f9f9;
    border-radius: 25px; padding: 3rem 2rem; cursor: pointer;
}
.sect2_box2_group span:first-child{font-size: 1.6rem; color: #0078c0;
    font-weight: 400; position: relative; margin: 2rem 0 1rem;
    display: inline-block; width: 100%;
}
.sect2_box2_group span:first-child::after{
    position: absolute; content: "+"; right: 0; top: -5px;
    font-size: 2.4rem; display: block;
}
.sect2_box2_group p{font-size: 2.1rem; margin: 2rem 0;}
.sect2_box2_group span:last-child{font-size: 1.2rem; color: #999; font-weight: 100;}
.sect2_box2_group:hover{background-color: #0078c0;}
.sect2_box2_group:hover span , .sect2_box2_group:hover p{color: #fff;}




/* section3영역 */
#section3{position: relative; width: 100%; height: 81rem; background-color: #ebf3f7; padding: 4.5rem 2rem;}
.sect3_inner{height: auto; flex-wrap: wrap;}
.sect3_box1{width: calc(50% - 1rem); margin-right: 1rem;}
.s3_up p{font-size: 1.8rem; color: #0078c0; font-weight: 600;
    margin-bottom: 1rem;
}
.video_wrap{position: relative; border-radius: 50px; overflow: hidden;
    width: 100%; height: 40rem; margin-bottom: 3rem;
}
.video_wrap video{height: 100%; display: block; cursor: pointer;}
.video_wrap .play-icon{position: absolute; top: 50%; left: 50%;
    transform: translate(-50%,-50%); width: 8rem; height: 8rem;
    background: url(../images/paly.svg) no-repeat center center;
    background-size: contain; cursor: pointer;
}
.play-icon:hover {opacity: 0.8;}
.s3_down{height: auto;}
.s3_down h4{font-size: 3.2rem; font-weight: 700; margin-bottom: 1rem;}
.s3_down p{font-size: 2.1rem; margin-bottom: 3rem;}
.s3_down span{font-size: 1.6rem; line-height: 4rem;}
.sect3_box2{width: 50%; padding: 2rem 1rem;}
.sect3_box2>p{font-size: 2.1rem; margin-bottom: 1rem;}
.sect3_box2>p::after{
    content: "";
    display: inline-block; width: 8rem; height: 1px;
    background: #333; margin: 8px 0 8px 20px;
}
.sect3_box2 h2{font-size: 4rem; color: #999; margin-bottom: 3rem;
    font-family: "JalnanGothicTTF", "sans-serif";
}
.sect3_box2 h2 span{color: #333;}
.s3_group{height: 16rem; background-color: #fff; border-radius: 25px;
    margin-bottom: 1rem;
}
.s3_group:hover a{background: #0078c0;}
.s3_group:hover a>span:first-child , .s3_group:hover a>span:last-child , .s3_group:hover a>p:last-of-type , 
.s3_group:hover a>p:first-of-type
{color: #fff;}
.s3_group a{display: block; width: 100%; height: 100%; padding: 1rem 2rem; border-radius: 25px;}
.s3_group:last-child{margin-bottom: 0;}
.s3_group a>span:first-child{font-size: 1.6rem; color: #0078c0;
    font-weight: 400; position: relative; margin: 1rem 0 1rem 0;
    display: inline-block; width: 100%;}
.s3_group a>span:first-child::after{
    position: absolute; content: "+"; right: 0; top: -5px;
    font-size: 2.4rem; display: block;
}
.s3_group a>span:last-child{color: #999; font-size: 1.4rem; font-weight: 300;}
.s3_group a>p:first-of-type{font-size: 2.4rem; font-weight: 400;
    margin: 0 0 1rem 0;
}
.s3_group a>p:last-of-type{font-size: 1.8rem; font-weight: 300;
    color: #666; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; margin: 0 0 1rem 0;
}


/* section4영역 */
#section4{width: 100%; height: 58rem;
    background: url(../images/section4_bg.jpg) no-repeat;
    background-size: cover;
    padding: 2rem; position: relative;}
.sect4_inner{flex-wrap: wrap; height: 100%;}
.sect4_box1{width: 40%;}
.s4_box1_txt1{padding: 8rem 2rem 0;}
.s4_box1_txt1 p{font-size: 2.1rem;}
.s4_box1_txt1 p::after{
    content: "";
    display: inline-block; width: 8rem; height: 1px;
    background: #333; margin: 8px 0 8px 20px;
}
.s4_box1_txt2{padding: 2rem;}
.s4_box1_txt2 h2{font-size: 4rem; color: #999;
    font-family: "JalnanGothicTTF", "sans-serif";
}
.s4_box1_txt2 h2 span{color: #333;}

.sect4_box2{width: 60%; flex-wrap: wrap; height: 100%;}
.sect4_box2 div:nth-child(2){margin: 3rem 0 0 0;}
.sect4_box2 div:nth-child(4){margin: 3rem 0 0 0;}
.sect4_box2_group{width: calc(100% / 2 - 1rem); height: 22.5rem;}
.sect4_box2_group a{width: 100%; height: 100%; display: block; padding: 3rem 2rem;
    background-color: #fff; border-radius: 25px;
}
.sect4_box2_group a>span:first-child{font-size: 1.6rem; color: #0078c0;
    font-weight: 400; position: relative;
    display: inline-block; width: 100%;
    margin: 2rem 0;
}
.sect4_box2_group a>span:first-child::after{
    position: absolute; content: "+"; right: 0; top: -5px;
    font-size: 2.4rem; display: block;
}
.sect4_box2_group a>p:first-of-type{font-size: 2.1rem; margin-bottom: 1rem;}
.sect4_box2_group a>p:last-of-type{font-size: 1.6rem; color: #999; font-weight: 400; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; margin-bottom: 1rem;}
.sect4_box2_group a>span:last-child{font-size: 1.2rem; color: #999; font-weight: 100;}
.sect4_box2_group:hover a,
.sect4_box2_group:hover a>span:first-child,
.sect4_box2_group:hover a>span:last-child,
.sect4_box2_group:hover a>p:first-of-type,
.sect4_box2_group:hover a>p:last-of-type{color: #fff; background-color: #0078c0;}


/* section5 */
#section5{width: 100%; height: 90rem; background: url(../images/section5_bg.jpg) no-repeat; background-size: cover; padding: 2rem;}
/* .sect5_inner{height: 100%;} */
.s5_group{height: 67rem; background-color: rgba(0, 0, 0, .6); margin: 10rem 0;
    flex-wrap: wrap;
}
.sect5_box1{width: 25%; padding: 4rem 2rem;}
.sect5_box1 .s5_box1_txt1 p{font-size: 1.8rem;
    color: #fff; font-weight: 300; margin-bottom: 5rem;}
.sect5_box1 .s5_box1_txt1 p::after{
    content: "";
    display: inline-block; width: 8rem; height: 1px;
    background: #fff; margin: 8px 0 8px 20px;
}
.sect5_box1 .s5_box1_txt1 h2{font-size: 3.6rem; font-weight: 500;
    font-family: "JalnanGothicTTF", "sans-serif";
    color: #fff; margin-bottom: 5rem;}
.s5_box1_txt2 ul li{margin-bottom: 1rem;}
.s5_box1_txt2 ul li:last-child{margin-bottom: 0;}
.s5_box1_txt2 ul li a{display: block; width: 16.5rem; height: 5rem; border: 1px solid #fff; border-radius: 25px; color: #fff; transition: .3s;}
.s5_box1_txt2 ul li a span{font-size: 2.1rem; font-weight: 300; position: relative;         line-height: 5rem; width: 100%; height: 100%; display: inline-block; border-radius: 25px;
    padding: 0 2rem; 
}
.s5_box1_txt2 ul li a span::after{font-size: 2.1rem; font-weight: 300; position: absolute;
    right: 1.5rem; top: 50%; transform: translateY(-50%); content: ""; background: url(../images/arrow2_next.png) no-repeat;
    width: 2rem; height: 2rem; display: block; background-size: cover;
}
.s5_box1_txt2 ul li a:hover , .s5_box1_txt2 ul li a:hover span{background-color: #0078c0; border: 1px solid #0078c0; font-weight: 400;}


.sect5_box2{width: 55%; padding: 5.4rem 0; flex-wrap: wrap;}
.s5_box2_img{position: relative;
    width: calc(100% / 2 - 1rem); height: 56.2rem;}
.s5_box2_img a{display: block; overflow: hidden;
    width: 100%; height: 100%;
    border-radius: 25px; color: #fff;}
.s5_box2_img a img{display: inline-block;
    width: 100%; height: 100%;
    object-fit: cover;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    -webkit-transform: scale(1); transform: scale(1);
}
.s5_box2_img a p{position: absolute; top: 2rem; left: 2rem; font-size: 2.8rem; font-weight: 700;}
.s5_box2_img a span{position: absolute; top: 6rem; left: 2rem; font-size: 1.8rem; font-weight: 300;}
.s5_box2_img a:hover img{-webkit-transform: scale(1.3); transform: scale(1.3);}
.sect5_box3{width: 20%; padding: 5.4rem 2rem;}
.sect5_box3 ul{display: flex; height: 100%; width: 100%;
    flex-wrap: wrap; align-items: center;}
.sect5_box3 ul li{width: 100%;}
.sect5_box3 ul li a{display: block; width: 100%; height: 6.1rem;
    border: 1px solid #fff; border-radius: 50px; color: #fff;}
.sect5_box3 ul li a:hover{background-color: #0078c0; border: 1px solid #0078c0; transition: .3s;}
.sect5_box3 ul li a span{font-size: 2.4rem; font-weight: 500; position: relative;
    width: 100%; height: 100%; line-height: 3.1rem; display: inline-block;
    padding: 1.5rem 2rem;
}
.sect5_box3 ul li a span::after{background: url(../images/arrow2_next.png)no-repeat;        background-size: cover;
    width: 2rem; height: 2rem; display: block; content: "";
    position: absolute; right: 2rem; top: 50%; transform: translateY(-50%);
}

/* footer영역 */
#footer{width: 100%; height: auto; background-color: #333; color: #666; padding: 5rem 2rem; position: relative;}
.f_inner{width: 100%; height: 100%;}
.top{position: absolute; right: 1rem; top: 0;}
.top .top_btn{width: 8rem; height: 8rem;
    position: absolute; right: 0; top: 0;
    background-color: #0078c0; border-radius: 50%;
}
.top .top_btn a{display: block; background: url(../images/top_icon.svg) no-repeat; width: 100%; height: 100%;
background-size: cover; border-radius: 50%;
}
.top .top_btn:hover{background-color: #999; transition: 0.4s;}

.f_group{font-size: 1.8rem; font-weight: 300;}
.f_group .f_logo{background: url(../images/f_logo.png) no-repeat; width: 15rem; height: 3rem;}
.f_group p{margin: 1rem 0;}
.f_group .callnumber{gap: 3rem; width: 100%; flex-wrap: wrap;}
.f_group .f_menu{margin: 1rem 0; gap: 3rem;
    flex-wrap: wrap;
    width: 100%;}
.f_group .f_menu>li>a{display: block; color: #666;}

